In [7]:
print(3 + 5)
print(3 + 5)

8
8

In [9]:
print(3 + 5);print(3 + 5);print(3 + 5);print(3 + 5)

8
8
8
8

In [14]:
if True:
    print(3+5)
    print(4+ 6)
    
print(5 +5 )

if False:
    print(3+5)
    print(4+ 6)

print(5 +5 )

8
10
10
10

In [18]:
#         자연인
# 리터널 : 자연수(숫자) : 정수  : 10
#                        실수  :  10.5
#                        지수  : e
#         자연어 : apple, red : 문자 , 문자열
# 변수 : 리터널을 저장할 수 있하는 문자
a = 10 # 변수 a에 리터널 정수 10이 저장 됨.
b = 20
print(10 + 20)
print( a + b)
print(a)
a = 10.5 # 파이썬을 타입을 별도로 지정하지 않으므로 어떠한 값이든 저장할 수 있다.
print(a)
# 변수는 오직 하나의 값만 저장한다.

30
30
10
10.5

In [ ]:
i = 10 # 정수 리터널을 가진 변수
d = 10.5 # 실수 리터널을 가진 변수

In [24]:
# 숫자 연산자 : +, -, / , *, %:나머지, // :몫, ** : 제곱승
a = 10
b = 20
print( a + b )
print( 10 - 20 )
print( a * 20 )
print( a / 3 )
print( a % 3 ) #  나머지 연잔자
print( a // 3 ) # 몫 연산자
print( a ** 3) # 10의 3승

30
-10
200
3.3333333333333335
1
3
1000

In [30]:
# 대입 연산자
a = 10
a = a + 2 
a += 2 # 대입연산자
print(a)
a = 10
b = 3
a = a + b
print(a)
a = 10
b = 3
a += b
print(a)

14
13
13

In [32]:
print(a)
a = 10
b = 3
a = a - b
print(a)
a = 10
b = 3
a -= b
print(a)

7
7
7

In [34]:
print(a)
a = 10
b = 3
a = a % b
print(a)
a = 10
b = 3
a %= b
print(a)
a = 10
b = 3
a //= b
print(a)
a = 10
b = 3
a **= b
print(a)

1
1
1
3
1000

In [52]:
이숭무 = 10
print(이숭무)
이상범 = 이숭무 # 변수
print(이상범)
이상범 = "이숭무"
print(이상범)
# 리터널 : 자연수 : 정수(2, 10) ,실수(2.5, 10.5)
#          자연어 : "apple", "이숭무"
str1 = "이숭무"
print(str1)
#print("이숭무" + 10) # 문자 + 정수
print("이숭무" +  "10")
print("이숭무" + str(10)) 
str = "이정범"
print("이숭무" + str(10))

10
10
이숭무
이숭무
이숭무10
이숭무10

TypeError: 'str' object is not callable

In [53]:
del str
print("이숭무" + str(10))

이숭무10

In [65]:
str1 = "이숭무"
print(str1)
str1 = '이상범'
print(str1)
## 문자열 리터널 : "", '', """ """, ''' '''
str1 = "Life is short, You need python"
print(str1)
str1 = "Life's short, You need python"
print(str1)
str1 = "Life's short, 'You need' python"
print(str1)
str1 = "Life is short, \"You need python\""
print(str1)
str1 = 'Life is short, "You need python"'
print(str1)
str1 = 'Life\'s short, "You need python"'
print(str1)

이숭무
이상범
Life is short, You need python
Life's short, You need python
Life's short, 'You need' python
Life is short, "You need python"
Life is short, "You need python"
Life's short, "You need python"

In [70]:
str1 = 'Life is short, \n"You need python"'
print(str1)
str1 = '''Life is short, 
"You need python"'''
print(str1)
str1 = """Life's short, 
You need python """
print(str1)

Life is short,
"You need python"
Life is short,
"You need python"
Life's short,
You need python

In [79]:
# 문자열 연산자 : +:연결연산자:concatenate , * : 반복연산자.
head = "Life is "
tail = "fun"
print(head + tail)
print( head * 3 )
print("이숭무" * 3)
print("==================================================")
print("제목")
print("=" * 50 ) # 문자열 * 숫자

Life is fun
Life is Life is Life is
이숭무이숭무이숭무
==================================================
제목
==================================================

In [95]:
# indexing
#문자열에는 각 문자의 위치를 나타내는 index
'Life is short, You need python'
#012345678901234567890123456789      : index
#          1         2  
#098765432109876543210987654321 -
#3         2         1    
str1 = 'Life is short, You need python'
print(str1[9])
print(str1[22])
print(len(str1)) # len : 크기 : 글자의 수
print(str1[29])
print(str1[len(str1) -1])
print(str1[1])
print('Life is short, You need python'[1])
print(str1[29])
print(str1[-1])
print(str1[0])
print(str1[-30])
print(str1[-len(str1)])
print('Life')
#str1을 이용해서 'Life'를 출력
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[0]+str1[1]+str1[2]+str1[3])

h
d
30
n
n
i
i
n
n
L
L
L
Life
L
i
f
e
Life

In [108]:
# slicing
str1 = "Life is short"
#       0123456789012
#                 1
#       3210987654321 -
#          1
print(str1[0]+str1[1]+str1[2]+str1[3]) 
print(str1[0:4]) # strat = 0; stop = 4
print(str1[0 : 0 + 4])
'''short'''
print(str1[8 : 8 + 5])
print(str1[8 : 13])
print(str1[-7 : -7 + 5])
print(str1[-7 : -2])
print(str1[-5 : -5 + 5]) # 마지막이 0이되어서 안됨
print(str1[-5 :])
print("====" * 20)
print(str1[0 : 4])
print(str1[: 4])
print("====" * 20)
print(str1[8 : 13])
print(str1[-5 : 13]) # index는  순서가 아니라 문자의 위치를 알려주는 값

Life
Life
Life
short
short
s sho

short
================================================================================
Life
Life

In [119]:
# a = "20010331Rainy"
# 날짜(년월일)와 이름을 분리하여 출력
'''20010331'''
'''Rainy'''
print(a[: 0 + 8])
print(a[8:])
print(a[:4])
print(a[4:4+2])
print(a[6:8])

20010331
Rainy
2001
03
31

In [144]:
print(str1)
'''Life is short'''
print(str1[0:13:2])
print(str1[::2])
print(str1[::3])
#reverse
print(str1[::-1])
print(str1[13::-1])
print(str1[2:12])
#print(str1[2:12:-1])
print(str1[11:1:-1])

Life is short
Lf ssot
Lf ssot
Lesht
trohs si efiL
trohs si efiL
fe is shor
rohs si ef

In [149]:
str1="pithon" 
print(str1[1])
#str1[1] = 'y' #문자열안에 있는 문자는 변경 할 수 없다.
print(str1[0] +'y'+str1[2:])

i
python

In [155]:
# 포맷문자열 포매팅
'''I eat 3 apples.'''
head = 'I eat '
tail = ' apples.'
#print(head + 3 + tail)
cnt = 3
print('I eat %d apples.' % cnt) # %d : decimal(십진수:정수), %s : string, %f : float, %c : charector

I eat 3 apples.

In [157]:
'''I ate 10 apples. so I was sick for three days'''
number = 10
day = 'three'
print('I ate %d apples. so I was sick for %s days' % (number, day))

I ate 10 apples. so I was sick for three days

In [167]:
"이숭무의 나이는 20살이고 키는 175.3입니다"
age = 20
height = 175.3
print("이숭무의 나이는 %d살이고 키는 %f입니다" % (age, height))
print("이숭무의 나이는 %d살이고 키는 %5.1f입니다" % (age, height))
print("이숭무의 나이는 %d살이고 키는 %4.1f입니다" % (age, height))
print("이숭무의 나이는 %d살이고 키는 %.1f입니다" % (age, height))
print("이숭무의 나이는 %s살이고 키는 %s입니다" % (age, height))

이숭무의 나이는 20살이고 키는 175.300000입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다

In [175]:
# 정렬 : -는 왼쪽정렬, +는 오른쪽 정렬 
print("나의 이름은 %10s이고 나이는 %10d살이고 키는 %10.1f입니다" % ('이숭무' ,age, height))
print("나의 이름은 %-10s이고 나이는 %10d살이고 키는 %10.1f입니다" % ('이숭무' ,age, height))
print("나의 이름은 %-10s이고 나이는 %10d살이고 키는 %-10.1f입니다" % ('이숭무' ,age, height))

나의 이름은        이숭무이고 나이는         20살이고 키는      175.3입니다
나의 이름은 이숭무       이고 나이는         20살이고 키는      175.3입니다
나의 이름은 이숭무       이고 나이는         20살이고 키는 175.3     입니다

In [180]:
# format 함수를 사용한 포매팅 : format(), print(),str()
"이숭무의 나이는 20살이고 키는 175.3입니다"
age = 20
height = 175.3
name = '이숭무'
print("{2}의 나이는 {1}살이고 키는 {0}입니다".format(height,age,name))
#                                                     0    1   2
print("{2}의 나이는 {1}살이고 {2}의 키는 {0}입니다".format(height,age,name))
print("%s의 나이는 %d살이고 %s의 키는 %f입니다" % (name, age, name, height))
str2 = "%s의 나이는 %d살이고 %s의 키는 %f입니다" % (name, age, name, height)
print(str2)

이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 이숭무의 키는 175.3입니다
이숭무의 나이는 20살이고 이숭무의 키는 175.300000입니다
이숭무의 나이는 20살이고 이숭무의 키는 175.300000입니다

In [192]:
# format함수에 이름으로 넣기
'''이숭무의 나이는 20살이고 키는 175.3입니다'''
print("{2}의 나이는 {1}살이고 키는 {0}입니다".format(175.3,20,'이숭무'))
print("{2}의 나이는 {1}살이고 키는 {0}입니다".format(height,age,'이숭무'))
print("{n}의 나이는 {1}살이고 키는 {0}입니다".format(height,age, n = '이숭무'))
print("{2}의 나이는 {1}살이고 키는 {0}입니다".format(height,age, name))
print("{n}의 나이는 {1}살이고 키는 {0}입니다".format(height,age, n= name))
#print("{1}의 나이는 {a}살이고 키는 {0}입니다".format(height, a = age, name))
print("{n}의 나이는 {a}살이고 키는 {0}입니다".format(height,a = age, n= name))

이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다
이숭무의 나이는 20살이고 키는 175.3입니다

In [209]:
#format함수를 이용한 정렬
print("{2}의 나이는 {1}살이고 키는 {0}입니다".format(height,age, name))
print("{2:10}의 나이는 {1:10}살이고 키는 {0:10}입니다".format(height,age, name))
print("{2:>10}의 나이는 {1:>10}살이고 키는 {0:10}입니다".format(height,age, name))
print("{2:10}의 나이는 {1:<10}살이고 키는 {0:<10}입니다".format(height,age, name))
print("{2:^10}의 나이는 {1:^10}살이고 키는 {0:^10}입니다".format(height,age, name))
print("{2:10}의 나이는 {1:!>10}살이고 키는 {0:@>10}입니다".format(height,age, name))
# print("{이숭무}의 나이는 {1}살이고 키는 {0}입니다".format(height,age))
print("{{이숭무}}의 나이는 {1}살이고 키는 {0}입니다".format(height,age))

이숭무의 나이는 20살이고 키는 175.3입니다
이숭무       의 나이는         20살이고 키는      175.3입니다
       이숭무의 나이는         20살이고 키는      175.3입니다
이숭무       의 나이는 20        살이고 키는 175.3     입니다
   이숭무    의 나이는     20    살이고 키는   175.3   입니다
이숭무       의 나이는 !!!!!!!!20살이고 키는 @@@@@175.3입니다
{이숭무}의 나이는 20살이고 키는 175.3입니다

In [212]:
#f 문자열 포매팅
'''이숭무의 나이는 20살이고 이숭무의 키는 175.3입니다'''
print(f'{name}의 나이는 {age}살이고 {name}의 키는 {height}입니다')
result = f'{name}의 나이는 {age}살이고 {name}의 키는 {height}입니다'
print(result)
## 포매팅 : 포맷문자, format(), f문자

이숭무의 나이는 20살이고 이숭무의 키는 175.3입니다
이숭무의 나이는 20살이고 이숭무의 키는 175.3입니다

In [221]:
# 문자열 가공 : 문자열 함수
a = "hobby"
print(a)
print(len(a))
# 특정문자의 갯수
# b가 몇개
print(a.count('b'))
print("hobby".count('b'))
print(str2)
'''이숭무가 몇개'''
print(str2.count('이숭무'))

hobby
5
2
2
이숭무의 나이는 20살이고 이숭무의 키는 175.300000입니다
2

In [235]:
'''short'''
print(str1[12:12+5])
print(str1.index('short'))
print(str1[str1.index('short'):str1.index('short')+5])
idx = str1.index('short')
print(idx)
print(str1[idx:idx+5])
print(str1)
idx = str1.index('s')
print(idx)
print(str1[idx:idx+5])

'''
idx = str1.index('s', 7)
print(str1[idx:idx+5])
'''
idx = str1.index('s', idx + 1)
print(str1[idx:idx+5])

idx = str1.rindex('s')
print(str1[idx:idx+5])

short
12
short
12
short
Lite is too short, You need python
6
s too
short
short

In [242]:
# find = index처럼 문자열의 index를 가져온다.
print(str1)
print(str1.index('short'))
print(str1.find('short'))
print(str1.find('s'))
print(str1.rfind('s'))
# print(str1.index('zoo'))
print(str1.find('zoo')) # -1
# Lite is too short, You need python
# 01234567...

Lite is too short, You need python
12
12
6
12
-1

In [246]:
# 문자열을 모두 소문자로 출력
print(str1)
print(str1.lower())
# 문자열을 모두 대문자로 출력
print(str1.upper())
# 문자열의 첫글자만 대문
print(str1.capitalize())

Lite is too short, You need python
lite is too short, you need python
LITE IS TOO SHORT, YOU NEED PYTHON
Lite is too short, you need python

In [253]:
str3 = "    highalnd0     "
if str3 == "highalnd0":
    print("같다")
else:
    print("다르다")

다르다

In [261]:
print(str3)
print(str3.strip()) ### trim()
if str3.strip() == "highalnd0":
    print("같다")
else:
    print("다르다")     
str3 = "   Life is too short    "; 
print(str3.strip())
print(str3.rstrip())
print(str3.lstrip())
str3 = "abcdLife is too shortcdab";
print(str3.strip('ab').strip('cd'));

abcdLife is too shortcdab
abcdLife is too shortcdab
다르다
Life is too short
   Life is too short
Life is too short
Life is too short

In [267]:
#### 문자열 대체하기
str1 = "Life is too short"
'''Your leg is too short'''
str2 = str1.replace('Life','Your leg');
print(str1)
print(str2)

Life is too short
Your leg is too short

In [273]:
# 쪼개기 : split : 결과는 리스트가 된다.
str1 = "Life is too short"
str2 = str1.split() # ['Life', 'is', 'too', 'short'] : 리스트
print(str2)
str1 = "Life:is:too:short"
str2 = str1.split(":") 
print(str2)

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']
['Life:is-too:short']