In [1]:
# 자료형 
# 리터널 자료형 : 자연수 : 정수(10) , 실수(10.5)
#                자연어 : 국어, 중국어, 영어,... : "",'',"""""",''''''
#                부울 : 참/거짓 : True/False
# 리스트 자료형 : []
str1 = "Life is too short"
l1 = str1.split();
print(l1)
l1 = [] # 빈 리스트
l2 = [10, 20, 5] # List<Integer> list = new AttayList<Integer>();
l3 = [1.5, 6.7, 20.6] # List<Double> list = new AttayList<Double>();
l4 = ['이숭무', 'apple','red'] # List<String> list = new AttayList<String>();
l5 = [10, 3.5, '이숭무'] # List<Object> list = new ArrayList<Object>(); 혼합형리스트
l6 = [10, 3.5, '이숭무',[1,2,3,4,5]] # 리스트를 포함한 혼합형 리스트
l7 = [[1,2,3,4],[5,6,7,8]] # 리스트를 포함한 리스트
                           # List<List> list = new ArrayList<List>();

['Life', 'is', 'too', 'short']

In [4]:
str1 = "Life is too short"
#       01234567890123456     : index
#                 1
#       76543210987654321  - 
#              1
print(str1[5])
l2 = [10, 20, 5]
#       요소
#     0   1   2 :  index
#     3   2   1 - 
print(l2[1])
print(l2[-2])

i
20
20

In [15]:
l = [1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '30']
#    0  1     2      3       4        5     6    7      8       9
print(l[0]) # 정수
print(l[1]) # 정수
print(l[2]) # 문자열
print(l[4]) # 리스트
print(l[6]) # 리스트
print(l[7]) # 실수
print(l[8]) # 문자열
print(l[9]) # 문자열
# 원하는 요소를 출력하면 요소의 타입으로 출력된다.
print(l[0] + l[1] ) # 정수 + 정수
#print(10 + "30") # 정수 + 문자열
#print(l[0] + l[9] ) # 정수 + 문자열
print(str(l[0]) + l[9] ) #  문자열 + 문자열
print(l[0] + int(l[9]) ) # 정수 + 정수
print(l[9] * l[1]) # 문자열 * 정수 : 문자열 반복

1
2
Life
[3, 4, 5]
[1]
0.5
short
30
3
130
31

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]
#    0  1  2         3
#               0    1    2
# -  4  3  2         1
#              -3    2    1
print(a[3]) # ['a', 'b', 'c']
#               0    1    2
print(a[3][1])
print(a[-1][-2])
print(a[-1][1])
print(a[3][-2])

In [23]:
a = [1, 2, 3, ['a', 'b', ['life', 'is']]]
#    0  1  2             3
#               0     1         2
#                           0        1
# 'life'를 출력하세요
print(a[3][2][0]) # life
#                   0123
# 'f'를 출력하세요.
print(a[3][2][0][2])

life
f

In [31]:
#리스트의 슬라이싱
str1 ='Life is too short'
#      01234567890123456
#                1
print(str1[2]) # indexing
print(str1[8 : 8 + 3]) # slicing
l = [1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '30']
#    0  1     2      3        4       5     6     7     8      9
print(l[1]) # indexing을 하면 요소의 타입으로 출력
print(l[2 : 2+ 3])
print(l[1: 1 + 1]) # slicing의 반환형은 리스트이다.
print(l[1 : 1 + 0]) # 0개 : [] 빈리스트 출력 
print(l[1 : 1 + 2]) # 2개

f
too
2
['Life', 'is', [3, 4, 5]]
[2]
[]
[2, 'Life']

In [47]:
# 숫자 연산자 : +, -, *, /, %, //, **
# 문자열 연산자 : + : 연결연산자, * : 반복연산자
# 리스트 연산자 : + : 연결연산자, * : 반복연산자
print([1,2,3,4] + [5,6,7,8])
l1 = [1,2,3,4] 
l2 = [5,6,7,8]
print(l1 + l2)
print(l)
print(l[2]) # 문자열
print(l[2] * l[1])
print(l[0:0+3] + l[7 : 7 +3]) # 리스트 + 리스트
print(l[0:0+3] * l[1]) # 리스트 * 정수
print([1, 2, 'Life'] * 2)
#print(l[0:0+3] + l[2]) # 리스트 + 문자열
print(l[0:0+3] + list(l[2])) # 리스트 + 리스트
# 숫자는 리스트로 변환되지 않는다.

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 'Life', 'is', [3, 4, 5], 'too', [1], 0.5, 'short', '30']
Life
LifeLife
[1, 2, 'Life', 0.5, 'short', '30']
[1, 2, 'Life', 1, 2, 'Life']
[1, 2, 'Life', 1, 2, 'Life']
[1, 2, 'Life', 'L', 'i', 'f', 'e']

In [48]:
str2 = "hello"
list(str2)
# 변환 함수 : str(), int(), list()

['h', 'e', 'l', 'l', 'o']

In [53]:
l3 = ['Lyfe', 'is', 'too', 'short']
#       0       1      2       3
print(l3[0])
l3[0] = "Life" # index를 이용해서 요소의 값을 변경할 수 있다.
print(l3)
l3[2] = 100
print(l3)

Lyfe
['Life', 'is', 'too', 'short']
['Life', 'is', 100, 'short']

In [58]:
# 리스트 함수
l1 = ['Life', 'is', 'too', 'short']
#길이 함수
print(len(l1))
# 요소의 위치 함수
print(l1.index("too"))
#print(l1.find("too")) # 리스트에는 find함수는 없다.

4
2

In [66]:
# 리스트에 요소 추가 
#append() : 요소를 마지막에 추가
l1 = ['Life','is']
'too'
l1.append('too') 
print(l1)
l1.append('short')
print(l1)
l1.append(3)
print(l1)
# insert() 원하는 위치에 요소 추가
l1 = ['Life', 'short']
#       0        1
l1.insert(1,'is')
print(l1) # ['Life', 'is', 'short']
#              0       1      2
l1.insert(2, 'too')
print(l1) 

l1 = ['Life','is']
l2 = ['too', 'short']
l1.append(l2)
print(l1)

# 확장 : extend()
l1 = ['Life','is']
l2 = ['too', 'short']
l1.extend(l2)
print(l1)

['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 3]
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
['Life', 'is', ['too', 'short']]
['Life', 'is', 'too', 'short']

In [74]:
#요소 삭제
l1 = ['Life', 'is', 'too', 'short']
#       0      1      2       3
del l1[1] #index를 사용
print(l1)
# del l1['too']
# 요소를 이용해서 삭제 : remove
l1.remove('too')
print(l1)
# 전체 삭제 :  clear
l1.clear()
print(l1) # [] : 빈 리스트
### 삭제한 값을 받아오기 : pop
l1 = ['Life', 'is', 'too', 'short']
result = l1.pop() # 삭제한 값 반환 받기
print(result)
print(l1) # ['Life', 'is', 'too']
result = l1.pop(1) #index를 이용해서 삭제하고 삭제된 값 반환 # 비복원 추출
print(result)
print(l1)
# 복원 추출 : 주사위, 가위바위보

['Life', 'too', 'short']
['Life', 'short']
[]
short
['Life', 'is', 'too']
is
['Life', 'too']

In [78]:
# 정렬 -- 오름차순, 내림차순 : 숫자 또는 문자열
l = [4,2,5,1,3]
# 오름차순 asc
l.sort()
print(l)
# 내림차순 
l = [4,2,5,1,3]
l.sort(reverse=True) # desc
print(l)
l = ['b','a','c']
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']

In [87]:
# 리터널 자료형 : 자연수 :  10 : 정수, 10.5 : 실수
#                자연어 : 국어, 영어, 일본어,... : " ", ' ',""" """,''' ''' : 문자열
#                 부울  : True/False
# 리스트 : []
# 튜플 : ()
l = []  #리스트
t = () # 튜플
l = [1,2,3,4,5] #리스트
t = (1,2,3,4,5) #튜플
result = 3 + 5 * 6 # 33
print(result)
result = (3 + 5) * 6
print(result)
print((3 + 5))
print((8))
print((8,))
print((3, 5))

33
48
8
8
(8,)
(3, 5)

In [94]:
age = 20
height = 175.3
print("이숭무의 나이는 %d살이고 키는 %f입니다" % (age, height))
print("이숭무의 나이는 %d살입니다" % age)
print("이숭무의 나이는 %d살입니다" % (age,))
#print("이숭무의 나이는 %d살이고 키는 %f입니다" % [age, height])

이숭무의 나이는 20살이고 키는 175.300000입니다
이숭무의 나이는 20살입니다
이숭무의 나이는 20살입니다

In [95]:
l = [] # 빈리스트
t = () #빈튜플
l = [1] # 요소가 하나인 리스트
t = (1,) #요소가 하나인 튜플
l = [1, 2, 3, 4, 5] #정수형 리스트
t = (1, 2, 3, 4, 5) #정수형 퓨플
t = (10.1, 5.3, 2.4 ) # 실수형 튜플
t = ("이숭무", "김찬중") #문자열형 튜플
t = (1, 2, 3, 10.1, "이숭무", "김찬중") # 혼합형 퓨플
t = (1, 2, 3, 10.1, "이숭무", "김찬중", [1,2,3]) # 리스트를  포함한 혼합형 튜플
t = (1, 2, 3, 10.1, "이숭무", "김찬중", (1,2,3)) # 튜플  포함한 혼합형 튜플
t = (1, 2, 3, 10.1, "이숭무", "김찬중", (1,2,3), [4,5,6])
l = [1, 2, 3, 10.1, "이숭무", "김찬중", (1,2,3), [4,5,6]]
t = 1,
print(t)
t = 1, 2, 3, 4, 5, 6 # 튜플 : 튜플을 만들 때 소괄호를 사용하지 않아도 튜플이 만들어 짐
print(t)

(1,)
(1, 2, 3, 4, 5, 6)

In [99]:
#indexing
str1 = "Life is too short"
#                 1
#       01234567890123456
l1 = ['Life', 'is', 'too', 'short']
#       0       1     2       3
t1 = ('Life', 'is', 'too', 'short')
#       0       1     2       3
print(str1[2])
print(l1[2])
print(t1[2])
# slicing
print(str1[2:])
print(l1[2:])
print(t1[2:])
print(str1[2:2+2])
print(l1[2:2+2])
print(t1[2:2+2])
print(str1[:0+2])
print(l1[:0+2])
print(t1[:0+2])

f
too
too
fe is too short
['too', 'short']
('too', 'short')
fe
['too', 'short']
('too', 'short')

In [108]:
str1 = "Lyfe is too short"
l1 = ['Lyfe', 'is', 'too', 'short']
t1 = 'Lyfe', 'is', 'too', 'short' # 상수와 같은 의미 이다.
print(str1[1])
#str1[1] = 'i'
str1 = str1.replace("Lyfe", "Life")
print(str1)
print(l1[0])
l1[0] = 'Life' # 리스트는 요소의 값을 변경할 수 있다.
print(l1)
print(t1[0])
# t1[0] = 'Life' # 튜플은 요소의 값을 변경하지 못한다.
del l1[0]
print(l1)
# del t1[0] # 튜플은 수정이 안되므로 삭제나 추가도 안된다.

y
Life is too short
Lyfe
['Life', 'is', 'too', 'short']
Lyfe
['is', 'too', 'short']

In [113]:
# 튜플의 함수
print(t1)
print(len(t1))
t2 = (1,2,3,3,4,5,3)
print(t2.count(3))
print(t1.index('too'))

('Lyfe', 'is', 'too', 'short')
4
3
2

In [115]:
# 문자열 연산자 : + : 연결연산자 , * : 반복 연산자
# 리스트 연산자 : + : 연결연산자 , * : 반복 연산자
# 튜플 연산자   : + : 연결연산자 , * : 반복 연산자
l1 = ['Life', 'is', 'too', 'short']
t1 = 'Life', 'is', 'too', 'short'
print(l1[1:3]) # 리스트 ['is', 'too']
print(t1[1:3]) # 튜플 ('is', 'too')
print(l1[1:3] + l1[2:4]) # 리스트 + 리스트
print(t1[1:3] + t1[2:4]) # 튜플 + 튜플
print(t1[1:3] * 3) # 튜플 * 정수

['is', 'too']
('is', 'too')
['is', 'too', 'too', 'short']
('is', 'too', 'too', 'short')
('is', 'too', 'is', 'too', 'is', 'too')

In [129]:
# 형변환 : int, str, list, tuple,  float
str2 = "hello"
l2= list(str2) # 문자열을 리스트로
print(l2)
t2 = tuple(str2) # 문자열을 튜플
print(t2)
t3 = tuple(l2) # 리스트를 튜플로 
print(t3)
l3 = list(t2) # 튜플을 리스트
print(l3)
str3 = str(l3) #  리스트를 문자열 #"['h', 'e', 'l', 'l', 'o']"
print(str3 + "10")
print(type(str3))
str4 = str(t3) #"('h', 'e', 'l', 'l', 'o')"
print(str4) 
print(type(str4))
# 리스트나 튜플을 문자열로 변경
str5 = "".join(l3)
print(str5)
l1 = ['Life', 'is', 'too', 'short']
'''Life  is too short'''
str5 = " ".join(l1)
print(str5)
t1 = 'Life', 'is', 'too', 'short'
str5 = ":".join(t1)
print(str5)

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']10
<class 'str'>
('h', 'e', 'l', 'l', 'o')
<class 'str'>
hello
Life is too short
Life:is:too:short

In [134]:
# 리터널 자료형 : 자연수 :  10 : 정수, 10.5 : 실수
#                자연어 : 국어, 영어, 일본어,... : " ", ' ',""" """,''' ''' : 문자열
#                 부울  : True/False
# 리스트 자료형 : []
# 튜플   자료형 : ()
# 딕셔너리 : {키1 : 값1, 키2: 값2,키3 : 값3,...키n : 값n} : json(JavaScript Object Notation) : map
l = [] # 빈리스트
t = () # 빈튜플
dic = {} # 빈딕셔너리
dic1 = {'name' : '이숭무', 'age' : 30, 'height': 170.5, 0 : '서울'}
print(dic1)
print(dic1['name'])
print(dic1['age'])
print(dic1['height'])
print(dic1[0])
# 딕셔너리는 index를 사용하지 않고  키를 사용한다.

{'name': '이숭무', 'age': 30, 'height': 170.5, 0: '서울'}
이숭무
30
170.5
서울

In [136]:
"이숭무의 나이는 30살이고 키는 175.5입니다"
name = "이숭무"
age = 30
height = 173.5
print(f"{name}의 나이는 {age}살이고 키는 {height}입니다")
l4 = ["이숭무", 30, 175.3]
print(f"{l4[0]}의 나이는 {l4[1]}살이고 키는 {l4[2]}입니다")
d = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
print(f"{d['name']}의 나이는 {d['age']}살이고 키는 {d['height']}입니다")

이숭무의 나이는 30살이고 키는 173.5입니다
이숭무의 나이는 30살이고 키는 175.3입니다
이숭무의 나이는 30살이고 키는 170.5입니다

In [149]:
d = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
l = [1,2,3,4]
print(l[1])
l[1] = 20
print(l[1])
print(d['name'])
d['name'] = '김찬중'
print(d)
print(l) # [1, 20, 3, 4]
#           0   1  2  3  4
# l[4] = 5
l.append(5)
print(l)
print(d) #{'name': '김찬중', 'age': 30, 'height': 170.5 , 'addr': '서울'}
d['addr'] = '서울'
print(d) # 키가 있으면 수정, 키가 없으면 추가, map
d1 = {1:'이', 1:'숭'}
print(d1) # 키의 중복이 허용되지 않으므로 마지막 값이 저장된다.

2
20
이숭무
{'name': '김찬중', 'age': 30, 'height': 170.5}
[1, 20, 3, 4]
[1, 20, 3, 4, 5]
{'name': '김찬중', 'age': 30, 'height': 170.5}
{'name': '김찬중', 'age': 30, 'height': 170.5, 'addr': '서울'}
{1: '숭'}

In [154]:
# 딕셔너리 함수 
d = {'name' : '이숭무', 'age' : 30, 'height': 170.5}
l = [1,2,3,4]
#    0 1 2 3
# 요소 삭제
del l[1]
print(l)
del d['name']
print(d)
print(l)
del l[0:2] 
print(l)
del l[:] # l.clear()
print(l)
d.clear()
print(d)

[1, 3, 4]
{'age': 30, 'height': 170.5}
[1, 3, 4]
[4]
[]
{}

In [159]:
# 딕셔너리에 있는 키를 가져오기
dic1 = {'name': '이숭무', 'age': 30, 'height': 170.5}
print(dic1.keys())
# 딕셔너리에 있는 값를 가져오기
print(dic1.values())
# 키와 값을 묶어서 가져오기
print(dic1.items())
# 키나 값을 리스트로 변환
print(list(dic1.keys()))
print(list(dic1.values()))

dict_keys(['name', 'age', 'height'])
dict_values(['이숭무', 30, 170.5])
dict_items([('name', '이숭무'), ('age', 30), ('height', 170.5)])
['name', 'age', 'height']
['이숭무', 30, 170.5]

In [173]:
dic1 = {'name': '이숭무', 'age': 30, 'height': 170.5}
print(dic1['name'])
print(dic1.get('name'))
# print(dic1['addr'])
print(dic1.get('addr'))
print(dic1.get('addr','서울'))

dic1 = {'classic':500, 'pop' : 700 , 'jazz' : 900}
dic2 = {'classic':500, 'pop' : 700 }
print(dic1['classic'])  # 정수
print(dic2['classic']) # 정수
print(dic1['classic'] + dic2['classic'])  # 정수 + 정수
print(dic1['pop'] + dic2['pop']) # 정수 + 정수
# print(dic1['jazz'] + dic2['jazz'])
print(dic1.get('classic') + dic2.get('classic'))
print(dic1.get('pop') + dic2.get('pop'))
# print(dic1.get('jazz') + dic2.get('jazz')) #정수 + None : 오류
print(dic1.get('jazz') + dic2.get('jazz', 0)) #정수 + 0

이숭무
이숭무
None
서울
500
500
1000
1400
1000
1400
900

In [181]:
# 정수, 실수, 문자, 리스트, 튜플 
# 딕셔너리 : {}, {키 :값,...}
# 집합 자료형 : 합집합, 교집합, 차집합
ss = {1,2,3,4,5}
print(ss)
ss = {1,1,2,2,3,3,4}
print(ss)
t1 = (1,2,3,4)
ss = set(t1)
print(ss)
l1 = [1,2,3,4]
ss = set(l1)
print(ss)
ss = set([1,2,3,4])
ss = set((1,2,3,4))
print(ss)
ss = set("hello") # 집합은 순서가 없다.
print(ss)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}
{'h', 'o', 'e', 'l'}

In [185]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# 교집합
print(s1 & s2)
print(s1.intersection(s2))
#합집합
print(s1 | s2)
print(s1.union(s2))
# 차집합
print(s1 - s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [193]:
# 요소 추가
s1 = {1, 2, 3, 4}
s1.add(7) # 한번에 한개씩
print(s1)
s1.add(3) #  중복 데이터를 허용하지 않아 추가되지 않음
print(s1)
s1.add('a')
print(s1)
# 여러개의 데이터를 한번에
# update
s1.update((10,11,12))
print(s1)
s1.update([20,21,22])
print(s1)
# 삭제
s1.remove('a')
print(s1)

{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7, 'a'}
{1, 2, 3, 4, 7, 10, 11, 12, 'a'}
{1, 2, 3, 4, 7, 10, 11, 12, 'a', 20, 21, 22}
{1, 2, 3, 4, 7, 10, 11, 12, 20, 21, 22}

In [197]:
# 기본자료형 : 정수, 실수, 문자, 부울 (참/거짓) : 리터널
# 파이썬 자료형 : 리스트, 튜플, ,딕셔너리, 집합
bl = True
print(bl)
bl = False
print(bl)
#a = true : name 'true' is not defined
a = "true"
print(a)

True
False
true

In [202]:
# 부울 타입을 사용하는 때
# 논리연산
print(True and True)
print(True or False)
# 부울타입을 연산하기 위해서는 연산결과가 부울타입이어야 한다.
# 관계연산(비교연산) : >, < , <=, >= ,!= ,== : 부울
# 논리연산하기 위해서 관계연산과 같이 사용해야 한다. 관계연산자가 부울타입의 결과를 가져오기 때문에
mat = 40
eng = 80
# 합격하기 위해서는 모든과목이 40점이상이고 평균이 60이상이어야 한다.
result = mat >= 40 and eng >= 40 and (mat + eng) / 2 >= 60
print(result)
if result:
    print("합격")
else:
    print("불합격")
if mat >= 40 and eng >= 40 and (mat + eng) / 2 >= 60: # 조건식
    print("합격")
else:
    print("불합격")

True
True
True
합격
합격

In [211]:
#변환함수: int(), float(),str(),list(),tuple(),set(),bool():참/거짓
print(bool('이숭무'))
print(bool('')) # False
print(bool(1))
print(bool(0)) # False
print(bool(-1))
print(bool([])) # False
print(bool([1,2,3]))
print(bool(())) # False
print(bool((1,2,3)))
print(bool({})) # False
print(bool({1:1}))
print(bool(None)) # False

True
False
True
False
True
False
True
False
True
False
True
False

In [213]:
str1 = 'hello'
i = 10 # <class 'int'>
f = 10.5 
l = [1,2,3,4] 
t = (1,2,3,4)
dic = {1:'이'}
s = {1,2,3,4}
b = True
print(type(i))
print(type(str1))
print(type(f))
print(type(l))
print(type(t))
print(type(dic))
print(type(s))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [224]:
#변수를 만드는 여러 가지 방법
a = 10
l = [1,2,3,4]
t = 1,2,3,4
a ,b ,c = 10, 20, 30
print(a,b,c)
a ,b ,c = (10, 20, 30)
print(a,b,c)
(a ,b ,c) = (10, 20, 30)
print(a,b,c)
(a ,b ,c) = 10, 20, 30
print(a,b,c)
a ,b ,c = [10, 20, 30]
print(a,b,c)
[a ,b ,c] = [10, 20, 30]
print(a,b,c)
[a ,b ,c] = 10, 20, 30
print(a,b,c)
[a ,b ,c] = (10, 20, 30)
print(a,b,c)
a ,b ,c = 10, 20, '이숭무'
print(a,b,c)
# a ,b ,c = 10, 20

10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 이숭무

In [228]:
# 값 서로 교환하기
a = 10
b = 20
print(a, b)
#a의 값을 b에 주고 b가 가지고 있는 값을 a에게
temp = b
b = a
a = temp
print(a, b)
print("=========")
a , b = b , a
print(a, b)

10 20
20 10
=========
10 20

In [231]:
#제어문 :  , 
#       조건문 : if 
#       반복문 : for, while
x = 3
y = 5
if x > y:
    print("x가 크다")
else :
    print("x가 작다")

x가 작다