In [2]:
# 이때 각 과목의 점수는 40이상이어야 하며 평균은 60점이상 이어야 한다.
# 조건에 만족하면 합격 아니면 불합격 , 수학 , 영어, 국어
mat = 40
eng = 60
kor = 90
if kor >= 40 and eng >= 40 and mat >= 40 and  (mat+eng+kor) / 3 >= 60:
    print("합격")
else:
    print("불합격")

합격

In [17]:
#in연산자 사용하기 : 포함되어 있는지  포함되어 있지 않은지 확인
print(5 in [1,2,3,4,5,6])
print(7 in [1,2,3,4,5,6])
print(7 not in [1,2,3,4,5,6])
l = [1,2,3,4,5,6]
print(5 in l)
print(7 not in l)
print('y' in 'python')
print('이숭무' in 'python')
print('이숭무' not in 'python')
print('th'  in 'python')
print('th' not in 'python')
print(5 in (1,2,3,4,5,6))
print(3 in {1:'이',2:'숭'})
print(2 in {1:'이',2:'숭'})
dic = {1:'이',2:'숭'}
print(2 in dic)

True
False
True
True
True
True
False
True
True
False
True
False
True
True

In [18]:
if 5 in [1,2,3,4,5]:
    print("5는 리스트에 포함되어 있다")
else:
    print("5는 리스트에 포함되어 있지 않다")

pocket = ['paper', 'cellphone', 'money']
if 'paper' in pocket:
    print("지값에는 지폐가 있다")
else:
    print("지값에는 지폐가 없다");

if 'paper' not in pocket:
    print("지값에는 지폐가 없다");
else:
     print("지값에는 지폐가 있다");

5는 리스트에 포함되어 있다

In [ ]:
# 조건이 여러개인 경우
# 학점(score)이 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, 그렇지 않으면 F
score = 79
if score >= 90:
    print("A")
else: # 89 ~ 0
    if score >= 80 :
        print("B")
    else: # 79 ~ 0
        if score >= 70:
            print("C")
        else: # 69 ~ 0
            if score >= 60:
                print("D")
            else: # 59 ~ 0
                print("F")

In [ ]:
score = 79
if score >= 90:
    print("A")
elif score >= 80 :
    print("B")
elif score >= 70:
    print("C")
elif score >= 60:
    print("D")
else: # 59 ~ 0
    print("F")

In [22]:
score = 79
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)
#파이썬에서 사용하는 방식
message = "success" if score >= 60 else "failure"
print(message)

success
success

In [24]:
score = 79
if score >= 90:
    message = "A"
else: # 89 ~ 0
    if score >= 80 :
        message = "B"
    else: # 79 ~ 0
        if score >= 70:
            message = "C"
        else: # 69 ~ 0
            if score >= 60:
                message = "D"
            else: # 59 ~ 0
                message = "F"
print(message)
message = "A" if score >= 90 else(
          "B" if score >= 80 else(
          "C" if score >= 70 else(
          "D" if score >= 60 else( "F"
          ))))
print(message)

C
C

In [27]:
# if문을 이용한 사직연산 
a = 10; b = 20; opt = "sub"
if opt == "add":
    message = a + b
elif opt == "sub":
    message = a - b
elif opt == "mul":
    message = a * b
else:
    message = a / b
print(message)
# python style
message = a + b if opt == "add" else(
          a - b if opt == "sub" else(
          a * b if opt == "mul" else( 
          a / b 
          )))
print(message)

-10
-10

In [33]:
print(f"8 * 1 = {8 * 1}")
print(f"8 * 2 = {8 * 2}")
print(f"8 * 3 = {8 * 3}")
print(f"8 * 4 = {8 * 4}")
print(f"8 * 5 = {8 * 5}")
print(f"8 * 6 = {8 * 6}")
print(f"8 * 7 = {8 * 7}")
print(f"8 * 8 = {8 * 8}")
print(f"8 * 9 = {8 * 9}")
start = 1
while start <= 9:
    print(f"8 * {start} = {8 * start}")
    start += 1

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [38]:
start = int(input("시작 숫자를 입력하세요 : "))
end = int(input("마지막 숫자를 입력하세요 : "))
while start <= end:
    print(f"8 * {start} = {8 * start}")
    start += 1

시작 숫자를 입력하세요 :  4
마지막 숫자를 입력하세요 :  8

8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64

In [40]:
dan = int(input("단을 입력해주세요 : "))
start = int(input("시작 숫자를 입력하세요 : "))
end = int(input("마지막 숫자를 입력하세요 : "))
while start <= end:
    print(f"{dan} * {start} = {dan * start}")
    start += 1

단을 입력해주세요 :  4
시작 숫자를 입력하세요 :  5
마지막 숫자를 입력하세요 :  7

4 * 5 = 20
4 * 6 = 24
4 * 7 = 28

In [88]:
# 비복원 추출
import random
lotto = []
start = 1
while start <= 45:
    lotto.append(start)
    start += 1
print(lotto)
size = len(lotto) # 45
i = 1
while i <= 6:
    size -= 1
    idx = random.randint(0, size)
    result = lotto.pop(idx)
    print(result , end = ", ")
    i += 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
9, 29, 7, 5, 14, 43,

In [50]:
#3단
start = 1
while start <= 9:
    print(f"3 * {start} = {3 * start}")
    start += 1
#4단
start = 1
while start <= 9:
    print(f"4 * {start} = {4 * start}")
    start += 1
#5단
start = 1
while start <= 9:
    print(f"5 * {start} = {5 * start}")
    start += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [65]:
startDan = 3
while startDan <= 5:
    start = 1
    while start <= 9:
        print(f"{startDan} * {start} = {startDan * start}")
        start += 1
    startDan += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [70]:
startDan = int(input("시작 단을 입력하세요 : "))
endDan = int(input("마지막 단을 입력하세요 : "))
startGop = int(input("시작 곱을 입력하세요 : "))
endGop = int(input("마지막 곱을 입력하세요 : "))
while startDan <= endDan:
    start = startGop
    while start <= endGop:
        print(f"{startDan} * {start} = {startDan * start}")
        start += 1
    startDan += 1

시작 단을 입력하세요 :  3
마지막 단을 입력하세요 :  5
시작 곱을 입력하세요 :  3
마지막 곱을 입력하세요 :  6

3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

In [76]:
# 1 ~ 100
i = 1
sum = 0
while i <= 100:
    sum += i
    i += 1
print(sum)
### 짝수의 합을 구하시오
i = 1
sum = 0 
while i <= 100:
    if i % 2 == 0:
        sum += i
    i += 1
print(sum)
print("==" * 30)
i = 0
sum = 0 
while i < 100:
    i += 1
    if i % 2 != 0:
        continue
    sum += i
print(sum)

5050
2550
============================================================
2550

In [77]:
i = 1
sum = 0
while True: #  무한루프
    if i == 101 :
        break
    sum += i
    i += 1
print(sum)

5050

In [79]:
del sum

In [84]:
###  for문
l = [11,223,99,887,78,89]
#     0  1   2  3   4  5
result = sum(l)
print(result)
print("==== while ====")
i = 0
sum1 = 0
while i < len(l):
    sum1 += l[i]
    i += 1
print(sum1)
print("==== for =====") #for each
sum1 = 0
for num in l: # [11,223,99,887,78,89]
    sum1 += num
print(sum1)
print("==== for : range =====")
sum1 = 0
for idx in range(0, len(l)):
    sum1 += l[idx]
print(sum1)

1387
==== while ====
1387
==== for =====
1387
==== for : range =====
1387

In [90]:
start = 1
while start <= 9:
    print(f"3 * {start} = {3 * start}")
    start += 1

print("=== for ===")

for gop in range(1, 9 + 1):
    print(f"3 * {gop} = {3 * gop}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
=== for ===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [93]:
dan = int(input("단 입력해 주세요. : "))
startGop = int(input("시작 숫자를 입력해 주세요. : "))
endGop = int(input("마지막 숫자를 입력해 주세요. : "))
for gop in range(startGop, endGop + 1):
    print(f"{dan} * {gop} = {dan * gop}")

단 입력해 주세요. :  3
시작 숫자를 입력해 주세요. :  4
마지막 숫자를 입력해 주세요. :  5

3 * 4 = 12
3 * 5 = 15

In [95]:
lotto = []
for num in range(1, 46):
    lotto.append(num)
print(lotto)

print("=== list comprehension ===")

lotto = [num for num in range(1, 46) ] 
print(lotto)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
=== list comprehension ===
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [120]:
import random
lotto = [num for num in range(1, 46) ] 
size = len(lotto)
print(size)
for y in range(1 , 6 + 1 ):
    size -= 1
    idx = random.randint(0, size)
    result = lotto.pop(idx)
    print(result, end = ", ")

45
35, 5, 17, 2, 8, 24,

In [142]:
import random
qty = int(input("구매 수량을 입력하세요. : "))
lotto = [] 
for cnt in range(1, qty + 1):
    for i in range(1, 45 + 1):
        lotto.append(i)   # 45
    size = len(lotto)
    for y in range(1 , 6 + 1 ):
        size -= 1
        idx = random.randint(0, size)
        result = lotto.pop(idx)
        print(result, end = ", ")  # 39
    lotto.clear() # []
    print()

구매 수량을 입력하세요. :  3

13, 38, 30, 32, 45, 9,
24, 31, 5, 29, 32, 21,
25, 10, 1, 15, 41, 40,

In [144]:
t = 1,2,3,4,5,6,7,8,9
l = []
#튜플에 있는 값중 짝수만 3을 곱해서 리스트에 저장
for num in t:
    if num % 2 == 0:
        l.append(num * 3)
print(l)
print("=== list comprehension ===")
l = [num * 3 for num in t if num % 2 == 0 ]
print(l)

[6, 12, 18, 24]
=== list comprehension ===
[6, 12, 18, 24]

In [146]:
l = []
for dan in range(3, 7):
    for gop in range(1, 10):
        l.append(dan * gop)
print(l)
print("=== list comprehension ===")
l = [dan * gop for dan in range(3, 7) 
               for gop in range(1, 10) ]
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54]
=== list comprehension ===
[3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54]

In [148]:
# 3~ 6단까지의 곱의 값이 짝수만 리스트에 추가
l = []
for dan in range(3, 7):
    for gop in range(1, 10):
        if dan * gop % 2 == 0:
            l.append(dan * gop)
print(l)
print("=== list comprehension ===")
l = [ dan * gop for dan in range(3, 7) 
                for gop in range(1, 10) if dan * gop % 2 == 0 ]
print(l)

[6, 12, 18, 24, 4, 8, 12, 16, 20, 24, 28, 32, 36, 10, 20, 30, 40, 6, 12, 18, 24, 30, 36, 42, 48, 54]
=== list comprehension ===
[6, 12, 18, 24, 4, 8, 12, 16, 20, 24, 28, 32, 36, 10, 20, 30, 40, 6, 12, 18, 24, 30, 36, 42, 48, 54]

In [153]:
l1 = [(1,2),(3,4),(5,6)]
#       0     1     2
print(l1[0])
a, b =  10 , 20
print(a, b)
a, b =  (10 , 20)
print(a, b)
a, b = l1[1]
print(a, b)
print(a + b)

(1, 2)
10 20
10 20
3 4
7

In [158]:
l1 = [(1,2),(3,4),(5,6)]
print(l1[0])
print(l1[1])
print(l1[2])
for t in l1:
    print(t)
for a, b in l1:
    print(a, b)
    print(a + b)

(1, 2)
(3, 4)
(5, 6)
(1, 2)
(3, 4)
(5, 6)
1 2
3
3 4
7
5 6
11

In [160]:
# 함수 : x값의 변화에 따른 y값의 변화
''''
f(x) = 2x + 3 
y = f(3)일때 y값은? y = 2 X 3 + 3 = 9   
y = f(4)일때 y값은? y = 2 X 4 + 3 = 11
'''
def f(x):
    return 2*x + 3

In [162]:
y = f(3)
print(y)
y = f(4)
print(y)

9
11

In [165]:
'''
f(x1, x2) = 3x1 + 5x2 + 4일 때
y = f(3, 4)일때 y값은 ? y = 3 X 3 + 5 X 4 + 4 = 33
'''
def f(x1, x2):
    return 3*x1 + 5*x2 + 4

In [166]:
y = f(3, 4)
print(y)

33

In [ ]:
'''함수 문법
def 함수명(parameter1, parameter2, parameter3,..., parametr_n):
    명령어1
    명령어2
    명령어3
    ...
    명령어n
    return 결과값

변수 = 함수명(argument1, argument2, argument3,..., argument_n)
print(변수)
'''

In [167]:
# parameter이름을 이용해서 값을 전달
def sum12(start , end):
    sum1 = 0
    for num in range(start , end + 1):
        sum1 += num
    print(sum1)

In [169]:
sum12(1, 100)

5050

In [170]:
sum12(start = 1, end = 100)

5050

In [171]:
sum12(end = 100, start = 1)

5050

In [172]:
def calc(x1, x2, opt):
    if opt == "add":
        result = x1 + x2
    elif opt == "sub":
        result = x1 - x2
    elif opt == "mul":
        result = x1 * x2
    else:
        result = x1 / x2
    return result

In [ ]:
result = calc(10, 20, "add")
print(result)

In [ ]:
result = calc(x1 = 10, x2 = 20, opt="add")
print(result)

In [ ]:
result = calc(10, 20, opt="add")
print(result)

In [ ]:
result = calc(10, x2 = 20, opt="add")
print(result)

In [ ]:
result = calc(10, opt="add", x2 = 20)
print(result)

In [179]:
result = calc(10, opt="add", 20)
print(result)

SyntaxError: positional argument follows keyword argument (3243136734.py, line 1)

In [180]:
def sum11(* param):
    print(param)

In [181]:
sum11(1,2)
sum11(1,2,3)
sum11(1,2,3,4,5,6,7)

(1, 2)
(1, 2, 3)
(1, 2, 3, 4, 5, 6, 7)

In [182]:
def sum11(* param):
    sum1 = 0
    for num in param:
        sum1 += num
    print(sum1)

In [183]:
sum11(1,2)
sum11(1,2,3)
sum11(1,2,3,4,5,6,7)

3
6
28

In [184]:
def sum14(opt,  * param):
    result = 10
    if  opt == "add":
        for i in param:
            result += i
    elif opt == "sub":
        for i in param:
            result -= i
    elif opt == "mul":
        for i in param:
            result *= i
    else:
        for i in param:
            result /= i
    print(result)

In [185]:
sum14("add", 1,2,3,4,5,6,7)

38

In [186]:
def dic1(** args):
    print(args)

In [187]:
dic1(a = 1)

{'a': 1}

In [188]:
#### 매개변수에 초깃값 미리 설정하기 
def say_myself(name, old, man):
    print("나의 이름은 %s입니다." % name)
    print("나의 나이는 %d입니다." % old)
    if man: #True
        print("남자입니다.")
    else: #False
        print("여자입니다.")

In [189]:
say_myself('이숭무', 35, True)

나의 이름은 이숭무입니다.
나의 나이는 35입니다.
남자입니다.

In [194]:
def say_myself(name, old, man = True):
    print("나의 이름은 %s입니다." % name)
    print("나의 나이는 %d입니다." % old)
    if man: #True
        print("남자입니다.")
    else: #False
        print("여자입니다.")

In [192]:
print(10)
print(20)
print(10, end=" ,")
print(20)

10
20
10 ,20

In [197]:
say_myself('이숭무', 35)
say_myself('이숭무', 35, False)
say_myself('이숭무', 35, True)

나의 이름은 이숭무입니다.
나의 나이는 35입니다.
남자입니다.
나의 이름은 이숭무입니다.
나의 나이는 35입니다.
여자입니다.
나의 이름은 이숭무입니다.
나의 나이는 35입니다.
남자입니다.

In [202]:
def say_myself(name, old = 30, man = True):
    print("나의 이름은 %s입니다." % name)
    print("나의 나이는 %d입니다." % old)
    if man: #True
        print("남자입니다.")
    else: #False
        print("여자입니다.")

In [200]:
say_myself('이숭무')
say_myself('오연의', 55)
say_myself('오연의', False)
say_myself('오연의', man = False)

나의 이름은 이숭무입니다.
나의 나이는 30입니다.
남자입니다.
나의 이름은 오연의입니다.
나의 나이는 55입니다.
남자입니다.
나의 이름은 오연의입니다.
나의 나이는 0입니다.
남자입니다.

In [205]:
opt = 'mul'; a = 10; b = 20 
if opt == "add":
    result = a + b
elif opt == "sub":
    result = a - b
elif opt == "mul":
    result = a * b
else:
    result = a / b
print(result)
result = a + b if opt == "add" else(
         a - b if opt == "sub" else(   
         a * b if opt == "mul" else(
         a / b
         )))
print(result)

200
200

In [206]:
def calc(opt, a, b):
    if opt == "add":
        return a + b
    elif opt == "sub":
        return a - b
    elif opt == "mul":
        return a * b
    else:
        return a / b

In [ ]:
result = calc("mul", 10, 20)
print(result)

In [209]:
calc = lambda opt, a, b : a + b if opt == "add" else(
                          a - b if opt == "sub" else( 
                          a * b if opt == "mul" else(
                          a / b
                          )))

In [210]:
result = calc("mul", 10, 20)
print(result)

200

In [211]:
def add(a, b=4):
    return a + b

In [213]:
add = lambda a, b=4 : a + b

In [214]:
result = add(3)
print(result)

7

In [216]:
#전역변수 : 프로그램 전체에서 사용 가능한 변수, 함수밖에 있는 변수
#지역변수 : 함수안에 정의 되어 있는 변수 , 함수안에서만 사용가능한 변수
b = 100 # 전역변수
def test3():
    c1 = 200 # 지역 변수
    print("함수 밖에 선언된 b 함수안에서 실행 : " , b)
    print("함수 안에 선언된 c1 : " , c1)

In [220]:
test3();
#print("함수 안에 선언된 c1 : " , c1)
print("함수 밖에 선언된 b  : " , b)

함수 밖에 선언된 b 함수안에서 실행 :  100
함수 안에 선언된 c1 :  200
함수 밖에 선언된 b  :  100

In [221]:
b = 1 # 전역변수
def test3():
    b = 100 # 지역변수
    c1 = 200 # 지역변수
    print("함수안에서 b 실행 : " , b)
    print("함수안에서 c1 실행 : " , c1)

In [223]:
test3()
print("함수 밖에 선언된 b  : " , b)

함수안에서 b 실행 :  100
함수안에서 c1 실행 :  200
함수 밖에 선언된 b  :  1

In [225]:
b = 1 # 전역변수
def test3():
    global b
    b = 100 # 지역변수
    c1 = 200 # 지역변수
    print("함수안에서 b 실행 : " , b)
    print("함수안에서 c1 실행 : " , c1)

In [226]:
test3()
print("함수 밖에 선언된 b  : " , b)

함수안에서 b 실행 :  100
함수안에서 c1 실행 :  200
함수 밖에 선언된 b  :  100

In [227]:
# 파일입출력 : open()함수
# open(file, mode='r', buffering=None, encoding=None, errors=None, newline=None, closefd=True)
f = open("test.txt","w")
f.write("1번째 줄입니다.\n")
f.write("2번째 줄입니다.\n")
f.write("3번째 줄입니다.\n")
f.write("4번째 줄입니다.\n")
f.write("5번째 줄입니다.\n")
f.close()

In [228]:
f = open("test.txt","w",encoding="utf-8")
for i in range(1, 6):
    f.write(f"{i}번째 줄입니다.\n")
f.close()

In [229]:
f = open("test.txt","a",encoding="utf-8")
for i in range(6, 11):
    f.write(f"{i}번째 줄입니다.\n")
f.close()

In [ ]:
f = open("test.txt",encoding="utf-8")
line = f.readline()
print(line)

In [232]:
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

In [ ]:
f = open("test.txt",encoding="utf-8")
while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

In [237]:
f = open("test.txt",mode="r",encoding="utf-8")
lines = f.readlines()
f.close()
print(lines)
print("".join(lines))

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f = open("test.txt","r",encoding="utf-8")
data = f.read()
f.close()
print(data)

In [240]:
with open("test.txt","w",encoding="utf-8") as f:
    for i in range(1, 11):
        f.write(f"{i}번째 줄입니다.\n")

In [241]:
with open("test.txt","a",encoding="utf-8") as f:
    for i in range(11, 21):
        f.write(f"{i}번째 줄입니다.\n")

In [ ]:
with open("test.txt","r", encoding="utf-8") as f:
    data = f.read()
    print(data)

In [258]:
# class : 변수 , 함수를 하나로 묶은 것 
#               클래스 안에 있는 함수를 메서드
class Testclass:
    b = 1 # 멤버필드
    def test3(self):
        self.b = 100
        c1 = 10 # 지역변수
        print("함수안에서 b 실행 : " , b)
        print("함수안에서 c1 실행 : " , c1)

In [260]:
a1 = Testclass()
print(a1.b)
a1.test3()

1
함수안에서 b 실행 :  100
함수안에서 c1 실행 :  10

In [263]:
a2 = Testclass()
a1.b = 100
print(a1.b)
a2.b = 1000
print(a2.b)

100
1000

In [264]:
class Testclass:
    result = 1
    def f(self, x):
        self.result = 3 + x * 3
        return self.result

In [266]:
a1 = Testclass()
print(a1.result)
y = a1.f(10)
print(y)

1
33

In [267]:
y = Testclass.f(a1, 10)
print(y)

33

In [269]:
class Testclass: # 멤버필드는 생략이 가능하다.
    def f(self, x): # 멤버필드의 초기값을 사용하려면 멤버필드를 선언해주어야 한다.
        self.result = 3 + x * 3
        return self.result

In [271]:
a1 = Testclass()
#print(a1.result)
a1.result = 10
print(a1.result)

10

In [276]:
class Calculator:
    def setData(self, first, second): 
         self.first = first
         self.second = second
    def add(self):
         self.result = self.first + self.second
         return self.result
    def div(self):
         self.result = self.first / self.second
         return self.result

In [278]:
a1 = Calculator()
a1.setData(10,20)
y = a1.add()
print(y)
a2 = Calculator()
a2.setData(10,20)
y = a2.add()
print(y)

30
30

In [279]:
class Calculator:
    def __init__(self, first, second):  # 멤버필드를 초기화하기 위한 메서드 : 생성자
         self.first = first
         self.second = second
    def add(self):
         self.result = self.first + self.second
         return self.result
    def div(self):
         self.result = self.first / self.second
         return self.result

In [281]:
a3 = Calculator(20, 30)
print(a3.first)
y = a3.add()
print(y)

20
50

In [282]:
# 상속
class FourCal(Calculator):
    '''
    def __init__(self, first, second): 
         self.first = first
         self.second = second
    def add(self):
         self.result = self.first + self.second
         return self.result
    def div(self):
         self.result = self.first / self.second
         return self.result
    '''
    def sub(self):
        self.result = self.first - self.second
        return self.result
    def mul(self):
        self.result = self.first * self.second
        return self.result

In [284]:
a4 = FourCal(20, 30)
y = a4.add()
print(y)
y = a4.div()
print(y)
y = a4.sub()
print(y)
y = a4.mul()
print(y)

50
0.6666666666666666
-10
600

In [285]:
a5 = FourCal(0, 10)
y = a5.div() # 0 / 10 = 0 :  부정
print(y)

0.0

In [ ]:
a5 = FourCal(10, 0)
y = a5.div() # 10 / 0 :  불능
print(y)

In [287]:
class FourCal(Calculator):
    def div(self): # 재정의 : 오버라이드 : override 
        if self.second == 0:
            return  0
        else:
            self.result = self.first / self.second
            return self.result
    def sub(self):
        self.result = self.first - self.second
        return self.result
    def mul(self):
        self.result = self.first * self.second
        return self.result

In [289]:
a5 = FourCal(10, 0)
y = a5.div() # 10 / 0 :  
print(y)

0

In [290]:
# 모듈 : 변수, 상수 , 함수, 클래스를 하나로 묶은 파일
import random # random.py
num = random.randint(1,5)
print(num)

3

In [294]:
import mod1
print(mod1.val)
print(mod1.PI)
a6 = mod1.calc1
print(a6.add())

10
3.14159
30

In [300]:
from mod1 import *
print(val)
print(PI)
a6 = calc1
print(a6.add())

10
3.14159
30

In [ ]:
from mod1 import val , PI
print(val)
print(PI)

In [304]:
from mod1 import val 
from mod1 import PI
print(val)
print(PI)

10
3.14159